// layout
$max-width: 1920px;
$large-width:1280px;
$medium-width:768px;
$small-width:375px;
// $marge: 7.5px;

// typo
$font-default: 'Fira Sans Condensed', arial;
$font-title: 'Fjalla One', sans-serif, arial;


// color
$bg-color: #fdf5e2;
$jaune: #e2aa1f;
$bg-nav: #cc9919;
$hover-color:#B98B19;
$bg-footer: #f3d998;
$orange: #cc5803;
$bg-carte: #508C85;
$blanc: #fff;
$noir: #292c2e;
$gtml: #FF8686;
$slvd:#DB4A47;
$hdrs:#60B47A;
$ctrc:#ED8757;





